@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=DynaPuff:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Kablammo&family=Permanent+Marker&family=Teko:wght@300..700&display=swap');
/* </style> */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
#zmmtg-root {
  z-index: 9999 !important;
  position: relative;
}


.image-textS {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back9.jpg?raw=true');
  background-size: cover;
   background-position: right; 
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textT {
  
  font-size: 14vw;
  background-image: url('https://raw.githubusercontent.com/imAbhishekRao/Photos_storage_for_clients/refs/heads/main/back4.webp');
  background-size: cover;
  background-position: left;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textU {
  
  font-size: 14vw;
  background-image: url('https://raw.githubusercontent.com/imAbhishekRao/Photos_storage_for_clients/refs/heads/main/back4.webp');
  background-size: cover;
   background-position:right; 
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textD {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back5.jpeg?raw=true');
  background-size: cover;
  background-position: right;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textY {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back6.jpeg?raw=true');
  background-size: cover;
  background-position: left;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textW {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back7.jpeg?raw=true');
  background-size: cover;
  /* background-position: center; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textA {
  
  font-size: 14vw;
  background-image: url('https://raw.githubusercontent.com/imAbhishekRao/Photos_storage_for_clients/refs/heads/main/back8.webp');
  background-size: cover;
  /* background-position: center; */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textV {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back9.jpg?raw=true');
  background-size: cover;
  background-position: right;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}
.image-textE {
  
  font-size: 14vw;
  background-image: url('https://github.com/imAbhishekRao/Photos_storage_for_clients/blob/main/back6.jpeg?raw=true');
  background-size: cover;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  
}

@layer utilities {
  @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-160%);
    }
  }

  .animate-carousel {
    /* display: inline-block; */
  white-space: nowrap;
  will-change: transform;
    animation: carousel 8s linear infinite;
  }
}

.link{
  text-decoration: none;
  color: rgb(108, 107, 107);
  
}
.link:hover {
  color: black;
}

.ab-card:hover{
  border: 2px solid rgb(165, 163, 160);
  
  
}